/* TODO responsivize dimensions */

* {
  margin: 10px auto;
}

#wizard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  margin: 0;
  height: calc(100% - 2.5rem - 10vh); /* total - header - footer */
}

#wizard #p1-welcome h2 {
  margin: 1em auto;
}

:host(.wait, .wait *) {
  cursor: wait !important;
}

input, button, label {
  font-size: inherit;
}

input, button {
  border-radius: 5px;
  border: 2px solid var(--theme-color-dark, #315a36);
  box-shadow: 3px 3px 10px var(--theme-color-shade, #888888);
  display: block;
  width: 25vw;
  max-width: 200px;
  height: 2rem;
}

button {
  background-color: var(--theme-color-light, #96e0a0);
  padding: 5px 10px;
}

button.button-refresh {
  background-color: white;
  width: auto;
  margin: 0 auto;
}

.result-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.result-grid .player-card {
  width: 80%;
  padding: 0.2rem;
}

.result-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.result-flex .player-card {
  flex: 0;
  align-self: stretch;
  min-width: 6rem;
  margin: 0.5rem !important;
  padding: 0.2rem;
}

#p3-waiting {
  height: 95%;
}

@media (max-width: 550px) {
  input, button {
    width: 100%;
  }
  input, button, label {
    font-size: inherit;
  }
}

@media (max-height: 500px) {
  #p3-waiting {
      height: 75vh;
  }
}

/* HACK need to fix - commented out for now */
#p6-bet > .bet > .red-chip {
  left: calc(100% / 2 - 10vw / 2);
}
#p6-bet > .bet > .blue-chip {
  left: calc(100% / 2 - 10vw / 2 + 5px);
}

#p7-show-bets fieldset * {
  margin: 10px;
}

#p10-score-update {
  width: 80%;
}