.red-chip {
    position: absolute;
    left: 1vw;
    top: 1vw;
}

.blue-chip {
    position: absolute;
    left: 2vw;
    top: 2vw;
}

.player-chip {
    position: absolute;
    left: 0;
    top: 0;
}