.red-chip {
    position: absolute;
    left: min(1vw, 8px);
    top: min(1vw, 8px);
}

.blue-chip {
    position: absolute;
    left: min(2vw, 16px);
    top: min(2vw, 16px);
}

.player-chip {
    position: absolute;
    left: 0;
    top: 0;
}