.player-status {
    position: relative;
}

.chip-grid {
    position: absolute;
    top: -350%;
    height: 300%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

.placeholder {
    position: relative;
    margin: .5vh .5vw;
    box-shadow: 0.5vh 0.5vh 3vh #888888;
}

.chip {
    z-index: 1;
}

.offset-1 {
    position: absolute;
    left: 0.5vh;
    top: 0.5vh;
}