html {
    box-sizing: border-box;
    --theme-color-light: #96e0a0;
    --theme-color-mid: #4faa5b;
    --theme-color-dark: #315a36;
    --theme-color-accent: white;
    --theme-color-shade-dark: #222222;
    --theme-color-shade: #888888;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-align: center;
}

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

/* NOTE: keep main bottom margin same as status bench height */
main {
    margin-bottom: 10vh;
}

/* TODO: check (https://stackoverflow.com/questions/35578083/what-is-the-equivalent-of-ngshow-and-nghide-in-angular-2) */
[hidden] {
    display: none !important;
}

/* TODO refine lane hiding */
.hidden {
    display: none;
}

h1 {
    font-family: 'Luckiest Guy', 'Trebuchet MS', Arial, sans-serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px var(--theme-color-shade-dark, #222222);
    color: var(--theme-color-mid, #96e0a0);
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--theme-color-shade-dark, #222222);
}

h3, .player-card {
    font-family: 'Segoe Print', Arial, Helvetica, sans-serif;
    line-height: 1.15;
}

p.hint {
    font-size: smaller;
}

fieldset {
    border: none;
}

button {
    font-family: inherit;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-end {
    margin-top: auto !important;
}

button:hover {
    box-shadow: 3px 3px 10px var(--theme-color-shade, #888888), inset 0 0 10px #bbbbbb !important;
}

/* TODO refine behavior of hiding spinners */
.spinner {
    display: none;
}
  
.wait .spinner {
    display: block;
}


#gameboard {
    max-width: 1000px;
    height: 65vh;
    min-height: 300px;
    margin: auto;
    padding: 0 2vw;

    display: flex;
    justify-content: space-evenly;
}

.player-card {
    min-width: 0;
    font-size: 0.75rem;
    border-radius: 5px;
    box-shadow: 3px 3px 5px var(--theme-color-shade, #888888);
}

.player-card > h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.narrow-lanes .player-card {
    max-width: 10vw;
}

.narrow-bets .bet {
    max-height: 8vh;
}

.narrow-lanes .narrow-bets .bet {
    max-height: 4vh;
}

.narrow-lanes .lane-space {
    flex-wrap: nowrap !important; /* TODO resolve */
}

.chip, .bet-button {
    max-width: min(10vw, 10vh);
    min-width: 3rem;
    max-height: min(10vw, 10vh);
    min-height: 3rem;
    aspect-ratio: 1 / 1;
    margin: auto;

    border-radius: 50%;
    font-weight: bold;
    color: white;
}

.chip {
    border: 2px dashed white;
    box-shadow: 3px 3px 5px var(--theme-color-shade, #888888);
    display: grid;
    align-content: center;
}

.placeholder {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.red-chip {
    background-color: red;
}

.blue-chip {
    background-color: blue;
}

.player-chip {
    color: black;
}

#status-bench {
    position: fixed;
    width: 100%;
    height: 10vh;
    min-height: 2.8rem;
    left: 0;
    bottom: 0;
    padding: .1rem;

    background-color: lightgray;

    display: flex;
}

/* response - see also component-specific responses */
@media (max-width: 550px) {
    :root {
      font-size: 16px;
    }
    #gameboard {
        flex-direction: column-reverse;
    }
    .narrow-lanes .player-card {
        max-width: revert;
    }
    .narrow-lanes .lane-space {
        max-height: 12vh;
    }
    .narrow-bets .bet, .narrow-lanes .bet {
        max-height: 6vh;
        max-width: 8vw;
    }
}

@media (max-height: 500px) {
    :root {
        font-size: 16px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.25rem;
    }
}

/* player-specific colors */
.player-1 {
    background-color: white;
    border: 2px solid rgb(255, 145, 0);;
}

.player-2 {
    background-color: white;
    border: 2px solid purple;
}

.player-3 {
    background-color: white;
    border: 2px solid blue;
}

.player-4 {
    background-color: white;
    border: 2px solid red;
}

.player-5 {
    background-color: white;
    border: 2px solid rgb(255, 230, 0);
}

.player-6 {
    background-color: white;
    border: 2px solid magenta;
}

.player-7 {
    background-color: white;
    border: 2px solid green;
}

/* TODO what is this for */
.player-0 {
    background: white;
    border: 2px dashed black;
}